{% extends 'base.html.twig' %}

{% block title %}Hello NewPostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #Postit input {
        background:    #e69138;
        border-radius: 11px;
        padding:       20px 45px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal bold 26px/1 "Open Sans", sans-serif;
        text-align:    center;
        text-decoration: none;
    }
</style>

<div class="example-wrapper">

    {{ form_start(form) }}
        {{form_widget(form)}}
        <button>Submit</button>
    {{ form_end(form) }}
</div>
{% endblock %}
